@import url("main.css");

/* Layout - This is what the css is trying to achieve
|--------------------------------------------------------------------------|
|  Logo Title (Northwest C++ User's Group)                                 |
|--------------------------------------------------------------------------|
|                          Navbar (centered)                               |
|--------------------------------------------------------------------------|
|    <br/> to make sure we don't put content on same line as misc          |
|--------------------------------------------------------------------------|
|   Vertical Flexbox - top to bottom                                       |
| |------------------------------ content-wrapper -----------------------| |
| | |------------------------------------------------------------------| | |
| | |  announcements                                                   | | |
| | |------------------------------------------------------------------| | |
| | |  most recent article                                             | | |
| | |---------------------------- links-section -----------------------| | |
| | |  Horizontal Flexbox (left-to-right)                              | | |
| | |  |----------| |-------------| |--------| |----------|            | | |
| | |  | sponsors | | conferences | | social | | blogroll |            | | |
| | |  |----------| |-------------| |--------| |----------|            | | |
| | |------------------------------------------------------------------| | |
| | |                                                                  | | |
| | |  older articles                                                  | | |
| | |                                                                  | | |
| | |                                                                  | | |
| | |------------------------------------------------------------------| | |
| |--------------------------------------------------------------------| | |
|--------------------------------------------------------------------------|
| |----------------------------------------------------------------------| |
| |   Announcement (sticky to bottom)                                    | |
| |----------------------------------------------------------------------| |
|--------------------------------------------------------------------------|
*/

/* Main Nav Banner */
#banner nav {
    height: 120px;
}
#banner nav a:link, #banner nav a:visited {
    padding: 5px 1.1em;
}
#banner .title img {
    float: left;
}

#banner .title h1 {
  /*float: right;*/
}

/* Contains sidebars and main content and announcement */
.content-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 0;
}

/* Put all the link sections in a flexbox */
.links_section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Attributes common to both left and right sidebars */
.sidebar {
    /* See https://css-tricks.com/snippets/css/a-guide-to-flexbox/ for how flex works */
    flex: 1 1 15%;
    border-radius: 10px;
    background: #fff;
    margin: 2em 2em 2em 2em;
    padding: 5px;
}

.sidebar h2 {
    color: #C74451;
    font-size: 1.714em;
    margin-bottom: 0.333em;
    margin-top: 1em;
}

.sidebar img {
    height:48px;
    width:100%;
    object-fit:scale-down;
    object-position:left;
}

.sponsor-logo img {
    margin-left: auto;
    margin-right: auto;
    height: 125px;
    width: auto;
    margin-top: 3em;
}

/* Body with the meeting details */
.main-content {
    flex: 3 1 auto;
    margin: auto;
    padding: 10px 0px 10px 20px;
    overflow-y: auto;
}

.announcement-wrapper {
    position: sticky;
    bottom: 0;
    margin: 10px;
}

/* We can put paid sponsor job announcements in .announce */
.announce {
    padding: 10px;
    left: 0;
    bottom: 0;
    overflow-y:auto;
    background-color: white;
}

.announce h3 {
    text-decoration: underline;
    /* margin-top: 0px; */
}


/* Overrides for the social sidebar
#social {
}

#social a:hover, #social a:active {
    color: #fff;
}

/* Overrides for the sponsor sidebar
#sponsor {
}

/* Overrides for social links
.social_links {

}

/* Overrides for the blogroll
.blogroll {
}

*/

