@import url("main.css");

/* Layout - This is what the css is trying to achieve
|--------------------------------------------------------------------------|
|  Logo Title (Northwest C++ User's Group)                                 |
|--------------------------------------------------------------------------|
|                          Navbar (centered)                               |
|                          (hidden misc item)                              |
|--------------------------------------------------------------------------|
|    <br/> to make sure we don't put content on same line as misc          |
|--------------------------------------------------------------------------|
|   Flexbox - left to right                                            |-| |
| |------------------------------ content-wrapper -------------------| | | |
| | |---------| |-------------------------------------| |----------| | | | |
| | | Left    | |  featured article                   | | Right    | | | | |
| | | Sidebar | |-------------------------------------| | Sidebar  | | | | |
| | |         | |                                     | |          | | | | |
| | | social  | | older articles                      | | Conf     | | | | |
| | |         | |                                     | |          | | | | |
| | | blogroll| |                                     | | sponsors | | | | |
| | |---------| |-------------------------------------| |----------| | | | |
| |------------------------------------------------------------------| |-| |
|--------------------------------------------------------------------------|
| |----------------------------------------------------------------------| |
| |   Announcement (sticky to bottom)                                    | |
| |----------------------------------------------------------------------| |
|--------------------------------------------------------------------------|
*/

/* Main Nav Banner */
#banner nav {
    height: 80px;
}
#banner nav a:link, #banner nav a:visited {
    padding: 5px 1.1em;
}
#banner .title img {
    float: left;
}

#banner .title h1 {
  /*float: right;*/
}

/* Contains sidebars and main content and announcement */
.content-wrapper {
    display: flex;
    margin: 0 0;
}

/* Attributes common to both left and right sidebars */
.sidebar {
    /* See https://css-tricks.com/snippets/css/a-guide-to-flexbox/ for how flex works */
    flex: 1 1 15%;
    border-radius: 10px;
    background: #fff;
    margin: 0em 2em 2em 2em;
    padding: 5px;
}

.sidebar h2 {
    color: #C74451;
    font-size: 1.714em;
    margin-bottom: 0.333em;
    margin-top: 1em;
}

.sidebar img {
    height:48px;
    width:100%;
    object-fit:scale-down;
    object-position:left;
}

.sponsor-logo img {
    margin-left: auto;
    margin-right: auto;
    height: 125px;
    width: auto;
    margin-top: 3em;
}

/* Body with the meeting details */
.main-content {
    flex: 3 1 auto;
    margin: auto;
    padding: 10px 0px 10px 20px;
    overflow-y: auto;
}

.announcement-wrapper {
    position: sticky;
    bottom: 0;
    margin: 10px;
}

/* We can put paid sponsor job announcements in .announce */
.announce {
    padding: 10px;
    height: 150px;
    width: 100%;
    left: 0;
    bottom: 0;
    overflow-y:auto;
    background-color: white;
}

.announce h3 {
    text-decoration: underline;
    /* margin-top: 0px; */
}

/* Turn off the announcement if we have either a short or narrow screen */
@media only screen and (max-width: 800px) {
    .announcement-wrapper {
        display: none;
    }
    #social {
        display: none;
    }
}
@media only screen and (max-height: 800px) {
    .announcement-wrapper {
        display: none;
    }
}

/* Overrides for the social sidebar
#social {
}

#social a:hover, #social a:active {
    color: #fff;
}

/* Overrides for the sponsor sidebar
#sponsor {
}
*/

.social_links {
    background-repeat: no-repeat;
    padding-left: 25px;
}

.blogroll {
    padding-top: 20px;
}

